* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  background: linear-gradient(to right, #00ccff98, #00ccff);
  padding: 15px 20px;
  box-shadow: 1px 1px 5px black;
  position: sticky;
  top: 0;
  z-index: 1;
}

#nav {
  display: none;
}

#test-me {
  font-variant: small-caps;
  font-weight: bold;
  color: #fff;
  text-shadow: -1px 1px 1px black,
                1px -1px 1px black,
                1px 1px 1px black,
                -1px -1px 1px black;
}

#test-me span {
  font-variant: small-caps;
  font-size: 18px;
  font-weight: bold;
  color: #0f89ff;
  text-shadow: -1px 1px 1px black,
                1px -1px 1px black,
                1px 1px 1px black,
                -1px -1px 1px black;
}

header ul {
  position: fixed;
  top: 53px;
  left: 0;
  width: 100%;
  padding: 100px 0;
  background: #2e2e2e;
  display: none;
  z-index: 1;
}

header ul li {
  list-style: none;
  display: block;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: #fff;
  transition: all .5s;
}

header ul li:hover {
  color: #00ccff98;
  transform: scale(1.5);
}

label[for='nav'] {
  float: right;
  color: white;
  font-size: 20px;
}

label[for='nav']:active {
  outline: none;
}

#nav:checked ~ ul {
  display: block;
}

#banner {
  height: 550px;
  /* border: 2px solid red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row wrap;
  background: url('images/banner_bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition-duration: 1s;
}

#info {
  padding: 10px 20px;
  position: relative;
  z-index: 0;
}

#info::before {
  content: '';
  background: red;
  display: block;
  width: 100%;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
}

#fs {
  font-size: 30px;
  font-weight: bold;
  font-variant: small-caps;
  padding: 5px 0;
  color: #dd71ff;
}

#about {
  font-size: 14px;
  padding: 5px 0;
  color: white;
  text-align: justify;
}

#about span {
  font-style: italic;
  color: #01be22;
}

#info a {
  display: inline-block;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 5px;
  margin: 5px 0;
  background: linear-gradient(to right, #00ccff98, #00ccff);
  color: white;
  font-weight: 500;
}

#me {
  width: 300px;
  height: 250px;
  background: url("images/mypic.jpg");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0 3px 8px #ffa9f6;
}

#About {
  border: 1px solid;
  background: #363140;
}

#centered {
  width: 95%;
  border-top: 3px solid #69ff80;
  border-bottom: 3px solid #69ff80;
  margin: 50px auto;
}

#centered h1 {
  padding: 20px 10px 10px;
  text-align: center;
  color: #f4d800;
}

#centered p {
  padding: 0 20px 20px;
  text-align: justify;
  text-indent: 2em;
  color: white;
}

#Skills {
  background-image: url('images/isom-coding.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.tool-type {
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  padding: 15px 0;
  color: #ff5b5b;
  margin: 10px auto;
  position: relative;
  background: #333333;
  animation: animateText 2s .5s infinite;
}

.tool-type::before {
  content: '';
  display: block;
  width: 10px;
  height: 100%;
  background: #ff5b5b;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  animation: animateBar 2s .5s infinite;
}

@keyframes animateText {
  0% {
    color: #ff5b5b;
  }
  50% {
    color: #46ff78;
  }
  100% {
    color: #ff5b5b;
  }
}

@keyframes animateBar {
  0% {
    background: #ff5b5b;
    left: 0;
    transform: rotate(0deg);
  }
  50% {
    background: #46ff78;
    left: 100%;
    transform: rotate(720deg);
  }
  100% {
    background: #ff5b5b;
    left: 0;
    transform: rotate(0deg);
  }
}

.tool-type:first-child {
  margin-top: 0;
}

.tools {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.tool {
  width: 150px;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0 2px 7px black;
  background: #fff;
}

.tool img {
  width: 100%;
  height: 150px;
  border-radius: 10px 10px 0 0;
}

.tool p {
  font-size: 12px;
  font-weight: 500;
  padding: 0 5px 5px;
  line-height: 12px;
  text-align: center;
}


@media (min-width: 980px) {
  header ul {
    background: none;
    display: inline-block;
    position: relative;
    top: 0;
    width: max-content;
    padding: 0;
    float: right;
  }
  header ul li {
    display: inline-block;
    padding: 0 10px;
  }
  header ul li:hover {
    color: black;
    transform: scale(1.1);
  }
  label[for='nav'] {
    display: none;
  }
  #banner {
    height: 500px;
  }
  #info {
    border-left: 2px solid grey;
  }
  #centered {
    width: 600px;
  }
  .tools {
    width: 650px;
    margin: auto;
  }
  .tool-type {
    width: 600px;
    border-radius: 5px;
  }
}